In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
import datetime

print('# Last run:', datetime.datetime.now().strftime('%Y-%m-%d'))

# Last run: 2024-02-28

In [41]:
fn = '/data100t1/home/wanying/CCHC/lipidomics/input_docs/lipidomic_measures/lipid_class.no_dup.txt'
df = pd.read_csv(fn, sep='\t')
threshold = 1
print(f'# Number of values smaller than {threshold}:', (df.iloc[:, 2:]<threshold).sum().sum())
for i in range(len((df.iloc[:, 2:]<1).sum())):
    if (df.iloc[:, 2:]<threshold).sum()[i] != 0:
        print((df.iloc[:, 2:]<threshold).sum().index[i], (df.iloc[:, 2:]<threshold).sum()[i])

# Number of values smaller than 0.5: 14
C1P 14

In [43]:
fn = '/data100t1/home/wanying/CCHC/lipidomics/input_docs/lipidomic_measures/lipid_species.no_dup.txt'
df = pd.read_csv(fn, sep='\t')
threshold = 0.1
print(f'# Number of values smaller than {threshold}:', (df.iloc[:, 2:]<threshold).sum().sum())
for i in range(len((df.iloc[:, 2:]<1).sum())):
    if (df.iloc[:, 2:]<threshold).sum()[i] != 0:
        print((df.iloc[:, 2:]<threshold).sum().index[i], (df.iloc[:, 2:]<threshold).sum()[i])

# Number of values smaller than 0.1: 648
Cer(d19:1/20:0) 1
AC(20:3) (b) 29
AC(20:5) 66
AC(22:5) 462
AC(22:6) 10
AC(22:5)-OH 79
TG(O-50:3) [NL-18:2] 1

In [44]:
df[df['AC(22:5)']<threshold][['LABID', 'AC(22:5)']]

       LABID  AC(22:5)
1     BD6685  0.049252
3     LA0113  0.023300
16    HD4178  0.032535
19    BD6119  0.035670
23    BD6701  0.098690
...      ...       ...
2464  BA0287  0.059023
2471  BA0079  0.058553
2483  BA0400  0.084367
2488  BD6169  0.050805
2489  HD4205  0.082172

[462 rows x 2 columns]